
</div>
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p style="font-size: 16px; color:white;">&copy; by Hongsik Eom. All rights reserved.</p>
  </div>
</div>

<script src="/js/bundle.js"></script>
</body>
</html>
