<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hong's Programming Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container-fluid header-container">
      <div class="navbar-header">
        <a href="/"><p class="navbar-brand">HONGSIK's BLOG</p></a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT ME</a></li>
          <li id="contact"><a href="/login">LOG IN</a></li>
        </ul>
    </div>
  </nav>
  <body>
    <div class="container">
      <div class="row">
        <div class="left">
            <ul id="myMenu">
            <li><a href="/menu/c">C</a></li>
            <li><a href="/menu/cpp">C++</a></li>
            <li><a href="/menu/csharp">C#</a></li>
            <li><a href="/menu/html">HTML</a></li>
            <li><a href="/menu/css">CSS</a></li>
            <li><a href="/menu/javascript">JavaScript</a></li>
            <li><a href="/menu/python">Python</a></li>
            <li><a href="/menu/node-express">Node / Express</a></li>
            <li><a href="/menu/mongo-mongoose">Mongo / Mongoose</a></li>
            <li><a href="/menu/mysql">MySQL</a></li>
            </ul>
        </div>
