<%- include("partials/header"); -%>
<div class="right">
    <div class="about me-about">
        <h1>Hi, I'm <%= name %>!</h1><br>
        <p> I'm a Software Engineering Techonology (Co-Op) student in Conestoga College.</p>
        <p> With knowing various programing languages, I have a strong understanding in solving problems.</p>
        <p> I'm eager to be a full-stack developer and keep learning by myself to be a better programmer.</p>
    </div>
    <hr>
    <div class="about school-about">
        <h1>School</h1>
        <h4>Conestoga College</h4>
        <p>Software Engineering Technology (Co-Op)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2020-present</p>
        <p>Maintaining a 3.91 GPA</p>
        <p>Participated in 2020 Conestoga Entrepreneurship Collective 4x4 Challenge</p>
        <h3>Online Certifications</h3>
        <p>Python for Everybody [Coursera]</p>
        <p>Beginning C++ Programming - FromBeginner to Beyond [Udemy]</p>
        <p>Node.js, Express, MongoDB & More: TheComplete Bootcamp 2021 [Udemy]</p>
        <p>Complete React Developer in 2021 (w/ Redux, Hooks, GraphQL) [Udemy]</p>
    </div>
    <hr>
    <div class="about skill-about">
        <h1>Skills</h1>
        <p>C C++ C# HTML CSS Javascript Python Node.js/Express.js MongoDB/Mongoose MySQL</p>
    </div>
</div>
<%- include("partials/footer"); -%>
