<%- include("partials/header"); -%>
    <div class="right">
        <h1 style="color:Red; font-size: 42px;"><%=title%> &#128162;</h1>
        <p> <%=msg%></p>
    </div>  
<%- include("partials/footer"); -%>
