<%- include("partials/header"); -%>
<div class="right">
    <div class="about me-about">
        <h1 style="text-decoration: underline;">About Me</h1><br>
        <p> Hi, I'm Hongsik Eom, a software engineering tech student and also a web developer.</p>
        <p> I have a diverse set of skills and keep learning the latest web trend by myself.</p>
        <p> I'm eager to be a full-stack developer and keep learning by myself to be a better programmer.</p>
        <p> With knowing various programming languages, I enjoy solving problems and developing awesome applications!</p>
    </div>
    <hr>
    <div class="about school-about">
        <h1 style="text-decoration: underline;">School</h1>
        <h2>Conestoga College</h2>
        <p>Software Engineering Technology (Co-Op)</p>
        <p>Maintaining a 3.91 GPA</p>
        <p>Participated in 2020 Conestoga Entrepreneurship Collective 4x4 Challenge</p>
        <h2>Online Certifications</h2>
        <p>Python for Everybody [Coursera]</p>
        <p>Beginning C++ Programming - FromBeginner to Beyond [Udemy]</p>
        <p>Node.js, Express, MongoDB & More: TheComplete Bootcamp 2021 [Udemy]</p>
        <p>Complete React Developer in 2021 (w/ Redux, Hooks, GraphQL) [Udemy]</p>
    </div>
    <hr>
    <div class="about skill-about">
        <h1 style="text-decoration: underline;">Skills</h1><br>
        <p class="skills">C</p>
        <p class="skills">C++</p>
        <p class="skills">C#</p>
        <p class="skills">HTML</p>
        <p class="skills">CSS</p>
        <p class="skills">JavaScript</p>
        <p class="skills">Python</p>
        <p class="skills">PHP</p>
        <p class="skills">Node.js</p>
        <p class="skills">Express.js</p>
        <p class="skills">MongoDB</p>
        <p class="skills">MySQL</p>
    </div>
    <div class="about Contact">
        <h1 style="text-decoration: underline;">Contact me</h1><br>
        <a href="mailto:haramang76@gmail.com" class="myButton footer-link">Email</a>
        <a class="footer-link" href="https://www.linkedin.com/in/heeom/">Linked In</a>
        <a class="footer-link" href="https://github.com/hongsikeom/">Git Hub</a>
    </div>
</div>
<%- include("partials/footer"); -%>
