
<%- include("partials/header"); -%>
  <div class="right">
    <h1>Hongsik's Blog</h1>
    <p> This blog is used for personal interest in programming tools or notes </p>
    <p>Whole contents...</p>
  </div> 
<%- include("partials/footer"); -%>
