
<%- include("partials/header"); -%>
  <div class="right">
    <div class="home-container">
      <h1 style="font-size: 6rem;">HONGSIK's PROGRAMING BLOG</h1><br>
    </div>
  </div> 
<%- include("partials/footer"); -%>