
<%- include("partials/header"); -%>
  <div class="right">
    <div class="home-container">
      <h1 style="font-size: 6rem; color:#ffe227;">PROGRAMING BLOG By HONGSIK EOM</h1><br>
      <br><p style="font-size: 20px"> My prgaming notes... </p>
    </div>
  </div> 
<%- include("partials/footer"); -%>