<%- include("partials/header"); -%>
<div class="right">
  <h1>Only Admin can log in</h1>
  <form id="login-form" class="login-form">
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" type="text" id="email">
      <label>Password</label>
      <input class="form-control" type="password" id="password">
    </div>
    <button class="btn btn-primary" type="submit" name="button">submit</button>
  </form>
</div>

<%- include("partials/footer"); -%>
