html {
  min-height: 100%;
  position: relative;
}

* {
  box-sizing: content-box;
  max-width: 100%;
}

hr {
  width: 5%;
  border-color: black;
}

textarea {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}

h2 {
  margin: 35px 0;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.about {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}

.about h1 {
  font-size: 6rem;
}

.search-box {
  float: right;
  margin-right: 20%;
}

.input-box {
  margin: auto;
  width: 500px !important;
}

.subject-box {
  height: 20px;
}

#search-input {
  width: 150px;
  display: inline-block;
}

.navbar {
  background: url("/img/header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: #092532; */
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  height: 15%;
  position: relative;
}
.header-container {
  margin-top: 70px;
  position: relative;
  padding: 0;
}

.login-container {
  height: 400px;
  padding-top: 0%;
}

.home-container {
  padding: 10% 0;
}

.body-container {
  margin: auto;
}

.navbar-brand {
  font-size: 60px;
  color: white !important;
  margin-left: 200px !important;
}

.navbar-brand:hover {
  color: #fdffbc !important;
  transition: color 0.5s;
}

.navbar-nav {
  margin-right: 200px !important;
}
.navbar-nav li a {
  font-size: 20px;
  color: white !important;
}
.navbar-nav li a:hover {
  color: #fdffbc !important;
  transition: color 0.5s;
}

.post {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #092532;
}

.currentDiv-inactive {
  display: none;
}

.edittDiv-inactive {
  display: none;
}

.edittDiv-active {
  display: inline-block;
}

.logoutBtn {
  cursor: pointer;
}

.page-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-form {
  display: flex;
}

.form-group {
  text-align: center;
}

.form-group input {
  width: 300px;
  height: 15px;
  margin: auto;
}

.user-box input {
  margin: auto;
  width: 150px;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;

  background: url("/img/header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: black;
}

.row {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}

.left {
  flex: 10%;
  padding: 15px 0;
  text-align: center;
  border-right: 2px solid #092532;
}

.left h2 {
  padding-left: 8px;
}

.right {
  text-align: center;
  width: 100%;
  flex: 80%;
  padding-left: 2%;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block;
}

#myMenu li a:hover {
  background-color: #eee;
}

@media only screen and (max-width: 600px) {
  .right {
    width: 80%;
  }

  .home-container {
    padding: 45% 0;
  }

  .login-container {
    padding-top: 25%;
  }

  .about {
    font-size: 16px;
  }

  .about h1 {
    font-size: 40px;
  }
}
